body{
    background-color: rgb(66, 66, 253);
    font: normal 15pt Arial;
    padding-top: 4%;
}
header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius:  40px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418) ;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

img{
    width: 58%;
}

div{
    font: bold 17pt Arial;
    padding: 10px;
}